
<% @books.each do |book| %>
  <h1><%= link_to  book.title, book_path(book) %></h1>
   <h2><%=  book.description %></h2>
     <h2><%=  book.author %></h2>
<% end %>
<%= link_to "Add Book", new_book_path %>